<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reservation_complete</title>
</head>
<body>
    <div>user : {{ reservation.user }}</div>
    <div>information : {{ reservation.information }}</div>
    <div>requested_date : {{ reservation.requested_date }}</div>
    <div>reserved_date : {{ reservation.reserved_date }}</div>
    <div>payment_date : {{ reservation.payment_date }}</div>
    <div>price : {{ reservation.price }}</div>
    <div>party : {{ reservation.party }}</div>
    <div>reservation_number : {{ reservation.reservation_number }}</div>
    <div>reservation.is_confirmed : {{ reservation.is_confirmed }}</div>
</body>
</html>